<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logos - BdE INSA Lyon</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="./style.css">

    <!-- Import Vue.js -->
    <!--<script src="https://unpkg.com/vue"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>

</head>
<body>

<div class="container">

    <div class="jumbotron text-center" id="header">
        <h1 class="display-2">LOGOS</h1>
        <p class="lead">Retrouve sur cette page les logos utilisées par le BdE INSA Lyon</p>
        <p class="lead">
            <a class="btn btn-lg btn-success" href="https://gitlab.com/sia-insa-lyon/BdEINSALyon/logos-bde/-/archive/master/logos-bde-master.zip"
              role="button">Télécharger tous les logos</a>
        </p>
    </div>

    <div class="row marketing" id="teams">
        <div class="team" v-for="team in teams">
            <h2>{{ team.name }}</h2>
            <div v-bind:class="'flex ' + team.direction">
                <div v-for="set in team.images" class="logos">
                    <h3>{{ set.name }}</h3>
                    <div v-bind:class="'flex ' + set.direction">
                        <a v-for="pic in set.pics" v-bind:href="getLink(team, pic)" class="pic-link">
                            <img v-bind:src="getLink(team, pic)">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-center" style="margin-top: 8em">
        <p>&copy; 2020 BdE INSA Lyon</p>
        <p>&nbsp;</p>
        <p>Le logo INSA Lyon est la propriété de l'INSA de Lyon</p>
        <p>Le logo Villeurbanne est la propriété de la ville de Villeurbanne</p>
        <p>Le logo et la marque BNP sont la propriété du groupe BNP Paribas</p>
        <p>Le logo et la marque Orange sont la propriété de Orange</p>
        <p>Le logo High Five est la propriété de l'Association des Elèves des INSA</p>
        <p>Les logos BdE, COOP, Gala, RAID INSA Lyon Orange, WEI, CoDIPC, INSA Shop, Bal, i5, Vie Associative, SIA, sont la
            propriété du BdE INSA Lyon</p>
        <p>L'utilisation de tout logo sur cette page doit faire l'objet d'une autorisation préalable du
            propriétaire.</p>
    </footer>

    <!-- This script needs to be at the end in order for Vue to use the existing DOM. -->
    <!-- Otherwise, elements of the DOM are not accessible within JS. -->
    <script src="./script.js"></script>

</div> <!-- /container -->
</body>
</html>
